@import "./styles/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .content-container {
    @apply container mx-auto px-10 py-20 w-full;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.writing-mode-vertical-rl {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
